<nav ng-include="'/partials/nav.html'"></nav>

<div class="row">
  <div class="col-md-12">
    
    <div class="col-md-3 sideMenu">
      
      <a href="#/add-customer">New Customer</a>

    </div>

    <div class="col-md-9 listItem">
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Company</th>
            <th>URL</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cus in customers | orderBy: 'Company'">
            <td>{{ cus.Company }}</td>
            <td>{{ cus.URL }}</td>
            <td>{{ cus.FirstNameC }}</td>
            <td>{{ cus.LastNameC }}</td>
          </tr>
        </tbody>
      </table>
    
    </div>

  </div>
</div>


