<nav ng-include="'/partials/nav.html'"></nav>

<div class="row">
  <div class="col-md-12">
    
    <div class="col-md-3 sideMenu">
      <div ng-include="'/partials/menu-ticket.html'"></div>
    </div>

    <div class="col-md-4 col-md-offset-1 editItem">
      <h3>Edit Ticket</h3>

      <div class="form-group">
        <input type="text" ng-model="tic.Title" class="form-control" placeholder="Title">
      </div>

      <div class="form-group">
        <textarea type="text" ng-model="tic.Description" class="form-control" placeholder="Description"></textarea>
      </div>

      <select ng-model="tic.Customer"
              ng-options="customers.Company for customers in customers track by customers.CustomerId">
        <option value="" selected disabled="disabled">Customer Company Name</option>
        <option value="">{{ customers.Company }}</option>
      </select>  
      <br>
      
      <label>Type: </label>
      <input ng-model="tic.TtypeId" type="radio" name="dept-type" value="1"> Bug Fix
      <input ng-model="tic.TtypeId" type="radio" name="dept-type" value="2"> Design Request
      <br>
      
      <label>Priority: </label>
      <input ng-model="tic.PriorityId" type="radio" name="prio-type" value="1"> Low
      <input ng-model="tic.PriorityId" type="radio" name="prio-type" value="2"> Medium
      <input ng-model="tic.PriorityId" type="radio" name="prio-type" value="3"> High
      <br>

      <button ng-click="saveTicket(tic.TicketId)">Save Changes</button>
      <div class="backBtn">
        <br>
        <a href="#/tickets">< Back to Ticket List</a><br><br>
      </div>
    </div>

  </div>
</div>