<nav ng-include="'partials/nav.html'"></nav>

<div class="row">
  <div class="col-md-3 sideMenu">
      
    <a href="#/add-employee">New Employee</a>
    <br><br>

    <button>All Employees</button><br>
    <button>Support Team</button><br>
    <button>Design Team</button><br>
    <button>Development Team</button>

  </div>

  <div class="col-md-9 listItem">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID #</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="emp in employees | orderBy: 'EmployeeId'">
          <td>{{ emp.EmployeeId }}</td>
          <td>{{ emp.FirstNameE }}</td>
          <td>{{ emp.LastNameE }}</td>
          <td>{{ emp.DepartmentName }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
