<nav ng-include="'/partials/nav.html'"></nav>

<div class="row">
  <div class="col-md-12">
    
    <div class="col-md-3 sideMenu">
    
      <button>New Ticket</button>
      <br><br>
      <button>All Tickets</button><br>
      <button>Open Tickets</button><br>
      <button>Closed Tickets</button>

    </div>

    <div class="col-md-9 listItem">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID #</th>
            <th>Title</th>
            <th>Company</th>
            <th>Date Created</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tic in tickets | orderBy: 'TicketId'">
            <td>{{ tic.TicketId }}</td>
            <td>{{ tic.Title }}</td>
            <td>{{ tic.Company }}</td>
            <td>{{ tic.DateCreated }}</td>
            <td>{{ tic.Priority }}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

