<nav ng-include="'/partials/nav.html'"></nav>

<div class="row">
  <div class="col-md-12">
    
    <div class="col-md-3 sideMenu">
      <div ng-include="'/partials/menu-ticket.html'"></div>
    </div>
    
    <div class="col-md-9 listItem">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID #</th>
            <th>Title</th>
            <th>Company</th>
            <th>Date Created</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tic in tickets | orderBy: 'TicketId'">
            <td><a ng-click="detailTicket(tic.TicketId)">{{ tic.TicketId }}</a></td>
            <td><a ng-click="detailTicket(tic.TicketId)">{{ tic.Title }}</a></td>
            <td><a ng-click="detailTicket(tic.TicketId)">{{ tic.Company }}</a></td>
            <td><a ng-click="detailTicket(tic.TicketId)">{{ tic.DateCreatedT }}</a></td>
            <td><a ng-click="detailTicket(tic.TicketId)">{{ tic.PriorityName }}</a></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

